
  /* Variables */
$color-primario: #333333;
$color-secundario: #FFFFFF;

/* Estilos globales */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.bg-image {
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-secundario;
}

/* Estilos para la sección de cabecera */
.header {
  position: relative;
  background-color: $color-primario;
  padding: 20px;
  text-align: center;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu a {
  color: $color-secundario;
  text-decoration: none;
}

/* Estilos para la sección de contenido */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

#servicios {
  background-color: $color-primario;
  color: $color-secundario;
  padding: 20px;
}

.services-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.service-card {
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33.33% - 20px);
}

.service-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#proyectos {
  background-color: $color-primario;
  color: $color-secundario;
  padding: 20px;
}

.proyectos-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.proyectos-list li {
  display: inline-block;
  margin-right: 20px;
}

#contacto {
  background-color: $color-primario;
  color: $color-secundario;
  padding: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario label {
  margin-bottom: 10px;
}

.formulario input[type="text"], .formulario textarea {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario button[type="submit"] {
  background-color: $color-primario;
  color: $color-secundario;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.formulario button[type="submit"]:hover {
  transform: scale(1.05);
}

/* Estilos para la sección de pie de página */
.footer {
  background-color: $color-primario;
  color: $color-secundario;
  padding: 20px;
  text-align: center;
}